version: '3.7'

services:
  postgres:
    image: 'postgres:16'
    environment:
      - POSTGRES_USER=s368100
      - POSTGRES_PASSWORD=peUGVgjH0345TYXh # Use the password specified in your properties file
      - POSTGRES_DB=studs
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d

  pacs:
    image: jodogne/orthanc-plugins
    ports:
      - 8042:8042
      - 4242:4242
    #    volumes: # don't forget to specify read-only for .json
    #      - ./orthanc.json:/etc/orthanc/orthanc.json:ro
    #      - ./orthanc_db:/var/lib/orthanc/db/
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
    networks:
      - amogusnet
  #    networks:
  #      - pacs
  #    depends_on:
  #      - orthanc_pg

  ohif_viewer:
    #    image: ohif/viewer
    # !!! new
    image: ohif/app:v3.5.0
    #    environment:
    #      PORT: 8080 # default is 80 as it's said in their docs:
    ports:
      #      - 3000:8080/tcp  # container's own port is 8080 mapped onto 3000 of the host
      - 3000:80
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
  prometheus:
    image: prom/prometheus:v2.55.1
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - '9090:9090'
    networks:
      - amogusnet
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.1.4
    depends_on:
      - prometheus
    ports:
      - '3001:3000'
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    networks:
      - amogusnet
    restart: unless-stopped
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - '4173:4173'
    restart: unless-stopped
    environment:
      - NODE_OPTIONS=--max-old-space-size=8192
volumes:
  postgres_data:
  grafana_data:

networks:
  amogusnet:
